body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #F2F2F2;
}

h1{
    font-size: 40px;
    padding: 30px;
    color: #365359;
}

#calculator{
    background-color: #8596A6;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

#screen{
    background-color: #B8C6D9;
    border-radius: 5px;
    grid-row: 1;
    grid-column: 1 / span 4;
    margin: 30px 30px 0 30px;
    height: 100px;
    font-size: 60px;
    padding: 0 20px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#buttons{
    display: grid;
    gap: 20px;
    padding: 20px 30px 30px 30px;
}

.number:hover,
.operator:hover,
.equals:hover{
    cursor: pointer;
}

.number1,
.number2,
.number3,
.number4{
    border-radius: 5px;
    background-color: #F2F2F2;
    color: #365359;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.number1{
    grid-column: 1;
}

.number2{
    grid-column: 2;
}

.number3{
    grid-column: 3;
}

.number4{
    grid-column: 4;
}
/*

#buttons{
    display: flex;
    gap: 5px;
}

#numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#operators{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.number{
    border: 1px solid black;
    width: 50px;
    height: 50px;
} */

